<header class="flex bg-linear-to-r/srgb from-baleal-blue to-baleal-blue-light w-screen py-7 px-55 pl-100 fixed">
    <div class="w-full flex justify-between items-center">
        <img class="w-37 shrink-0" src="baleal.svg" alt="Baleal logo">
        <ul class="flex text-white gap-x-[35px]">
            <li class="relative overflow-hidden px-2 py-1 rounded-md group cursor-pointer text-lg">
                <span class="relative z-10">INÍCIO</span>
                <span class="absolute left-0 top-0 h-full w-0 bg-violet-500 transition-all duration-500 ease-out group-hover:w-full"></span>
            </li>

            <li class="relative overflow-hidden px-2 py-1 rounded-md group cursor-pointer text-lg">
                <span class="relative z-10">SERVIÇOS</span>
                <span class="absolute left-0 top-0 h-full w-0 bg-violet-500 transition-all duration-500 ease-out group-hover:w-full"></span>
            </li>

            <li class="relative overflow-hidden px-2 py-1 rounded-md group cursor-pointer text-lg">
                <span class="relative z-10">MOTIVOS</span>
                <span class="absolute left-0 top-0 h-full w-0 bg-violet-500 transition-all duration-500 ease-out group-hover:w-full"></span>
            </li>

            <li class="relative overflow-hidden px-2 py-1 rounded-md group cursor-pointer text-lg">
                <span class="relative z-10">SOBRE</span>
                <span class="absolute left-0 top-0 h-full w-0 bg-violet-500 transition-all duration-500 ease-out group-hover:w-full"></span>
            </li>

            <li class="relative overflow-hidden px-2 py-1 rounded-md group cursor-pointer text-lg">
                <span class="relative z-10">FAQ</span>
                <span class="absolute left-0 top-0 h-full w-0 bg-violet-500 transition-all duration-500 ease-out group-hover:w-full"></span>
            </li>

            <div class="hover:bg-violet-500 p-1 rounded-md">
                <button>Contato</button>
                <img src="" alt="">
            </div>
        </ul>
    </div>
</header>