@import "tailwindcss";

@theme{
    --color-baleal-blue: #000929;
    --color-baleal-blue-light: #162049;
    --color-baleal-blue-dark: #000D2D;
    --color-baleal-red-dark: #AF0028;
    --color-baleal-red-bright: #D5002E;
}


html, body {
  overflow-x: hidden;
}

h1, h2, h3, p {
  margin: 0;
}

h1, h2, h3, p{
    font-family: 'Sora', sans-serif;
}


ul, ol {
  padding-left: 0;
  margin: 0;
}